{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h2>添加一个新条目:</h2>
{% endblock header %}


{% block content %}
<p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
<p>添加一个新条目:</p>
<form action="{% url 'learning_logs:new_entry' topic.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name='submit' class="btn btn-primary">添加</button>
    {% endbuttons %}
</form>
{% endblock content %}